* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}
.point {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 780px) {
  .point {
    display: none;
  }
}